<div class="container">
  <form action="/posts" method="post" class="row">
    <div class="form-group">
      <label for="postTitle">Search a Title</label>  
      <input class="form-control" name="postTitle" id="postTitle" autocomplete="off" required></input>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
 </form>  
</div>