<%- include('partials/header') -%>
  <div class="row">
    <div class="col" style="display: inline-block;">
      <img src="./images/amongus.png" alt="Among Us Picture" class="rounded float-left" draggable="false">
    </div>
    <div class="col" style="display: inline-block;">
      <h1 class="display-1">Aww, Snap!</h1>
      <h2 class="display=2">We didn't find what you're looking for.</h2>
    </div>
  </div>
<%- include('partials/footer') -%>